<section class="media-table">
  <h4>Albums</h4>  
  <% if @works.where(category: "album").length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @works.where(category: "album").each do |work| %>
          <tr>
            <td><%= Vote.count_votes(work.id) %></td>
            <td><%= link_to work.title, work_path(work.id)%></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to "Upvote",work_votes_path(work.id), method: :post, :class => "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No work in the system!</p>
  <% end %>
</section>

  <h4>Books</h4>
  <% if @works.where(category: "book").length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @works.where(category: "book").each do |work| %>
          <tr>
            <td><%= Vote.count_votes(work.id) %></td>
            <td><%= link_to work.title, work_path(work)%></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%=link_to "Upvote",work_votes_path(work.id), method: :post, :class => "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No work in the system!</p>
  <% end %>
</section>

  <h4>Movie</h4>
  <% if @works.where(category: "movie").length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @works.where(category: "movie").each do |work| %>
          <tr>
            <td><%= Vote.count_votes(work.id) %></td>
            <td><%= link_to work.title, work_path(work)%></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%=link_to "Upvote",work_votes_path(work.id), method: :post, :class => "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No work in the system!</p>
  <% end %>
</section>