<section>
  <h2><%= @work.title%></h2>
  <p>Created by: <%= @work.creator%></p>
  <p>Published: <%= @work.publication_year%></p>
  <p><%= @work.description %></p>
</section>
<section>
  <%=link_to "Back to media ranks", root_path, :class => "btn btn-primary" %>
  <%=link_to "Edit", edit_work_path(@work.id), method: :get, :class => "btn btn-primary" %>
  <%=link_to "Upvote", work_votes_path(@work.id), method: :post, :class => "btn btn-primary" %>
  <%=link_to "delete", work_path(@work.id), 
      method: :delete, 
      :class => "btn btn-primary", 
      data: {confirm: "Are you sure you want to delete this work: #{@work.title}? This will also delete all votes related to this work."} 
  %> 
</section>

